html, body{ 
    width:100%; 
    min-height: 100%;
}

.fyl-check{ 
    margin: 50px auto; 
    width: 400px; 
    height: 300px; 
    text-align:center;
}

.fyl-preview{
    width: 90%;
    height: 200px;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 0, 0.15);
    padding: 10px;
    overflow-y: auto;
}

.fyl-preview-img{
    height: 70%;
    width: auto;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 5px solid white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.fyl-faux-upload{
    padding: 10px 20px;
    display: inline-block;
    background: #e46666;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin: 5px;
    transition: all .3s .1s ease-in;
}
.fyl-faux-upload:hover{
    background: #e83e3e;
}